section.not-found {
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 13rem 0 5rem 0;
  min-height: calc(100vh - 8rem);
}

.not-found .illustration {
  width: 100%;
}
.not-found .illustration svg {
  height: 35rem;
  width: 100%;
  transform: scale(1.5);
}

.content {
  text-align: center;
}

.content h4 {
  font-weight: 600;
  margin-bottom: 1rem;
}

@media (max-width: 470px) {
  .not-found .illustration svg {
    transform: scale(1.2);
  }
}
