@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
  --font-family: "Open Sans", "Inter", sans-serif;
  /* Color Pallet */
  --dark-blue: #100f51;
  --semi-dark-blue: #29298b;
  --medium-blue: #5b7ef2;
  --light-blue: #8092f6;
  --extra-light-blue: #e6edff;

  --extra-dark-orange: #42180a;

  --dark-orange: #dc3902;
  --semi-dark-orange: #ff5a22;
  --medium-orange: #fe932b;
  --semi-light-orange: #f4a47f;
  --light-orange: #facc98;
  --extra-light-orange: #ffecd6;
  /* Color Config */
  --header-bg-color: #8092f6b3;

  --screen-edge-padding: 1.5rem;
  --desktop-header-height: 8rem;
  --mobile-header-height: 6rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}
button {
  background: none;
  border: none;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-family);
}
body {
  min-height: 100vh;
}

#__next {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}

h1 {
  font-size: 6.4rem;
  letter-spacing: -1.2px;
  font-weight: 600;
}

h2 {
  font-size: 4.2rem;
  font-weight: 600;
  padding-top: 1rem;
  margin-left: -0.1rem;
  margin-bottom: -2.5px;
}

h3 {
  font-size: 2rem;
  display: inline-block;
  font-family: "Inter", sans-serif;
  color: var(--dark-orange);
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: -1px;
  position: relative;
  margin-left: 3.5px;
  padding-top: 4px;
}
h3.for-h2 {
  margin-left: 1.5px;
}
h3::before {
  content: "";
  display: block;
  position: absolute;
  height: 3px;
  background-color: var(--dark-orange);
  width: 140%;
  border-radius: 10px;
  top: 1.5px;
}

h4 {
  font-size: 3.2rem;
  margin-left: -0.1rem;
}

h4.smaller {
  font-size: 2.8rem;
}

h5 {
  font-size: 2.6rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
  margin-left: -0.1rem;
}
h5.smaller {
  font-size: 2.2rem;
}
h6 {
  font-size: 2rem;
  margin: 0;
  padding: 0;
  margin-left: -0.1rem;
  font-weight: 600;
}

section {
  height: auto;
  width: 100%;

  min-height: calc(100vh - 8rem);
}

p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
}
.smaller {
  font-size: 1.4rem;
}
.larger {
  font-size: 1.8rem;
}
span {
  font-size: 1.4rem;
}
span.larger {
  font-size: 1.5rem;
}

li {
  font-size: 1.5rem;
  font-weight: 500;
}
li.smaller {
  font-size: 1.3rem;
}

button {
  font-size: 1.8rem;
  font-weight: 500;
}
button.smaller {
  font-size: 1.5rem;
  font-weight: 500;
}

a:link,
a:visited {
  font-size: 1.4rem;
  font-weight: 600;
}

@media (min-height: 900px) {
  section {
    min-height: auto;
    padding-bottom: 3rem;
  }
}

@media (max-width: 800px) {
  h1 {
    font-size: 5.6rem;
  }

  h2 {
    font-size: 3.6rem;
    font-weight: 600;
    padding-top: 1rem;
    margin-left: -0.1rem;
    margin-bottom: -2.5px;
  }

  h3 {
    font-size: 1.8rem;
    display: inline-block;
    color: var(--dark-orange);
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: -1px;
    position: relative;
    margin-left: 3.5px;
  }
  h3.for-h2 {
    margin-left: 1.5px;
  }
  h3::before {
    content: "";
    display: block;
    position: absolute;
    height: 3px;
    background-color: var(--dark-orange);
    width: 140%;
    border-radius: 10px;
    top: 1.4px;
  }

  h4 {
    font-size: 2.8rem;
    margin-left: -0.1rem;
  }

  h4.smaller {
    font-size: 2.5rem;
  }

  h5 {
    font-size: 2.2rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
    margin-left: -0.1rem;
  }
  h5.smaller {
    font-size: 2rem;
  }
  h6 {
    font-size: 1.7rem;
    margin: 0;
    padding: 0;
    margin-left: -0.1rem;
    font-weight: 600;
  }
  p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
  }
  .smaller {
    font-size: 1.4rem;
  }
  .larger {
    font-size: 1.8rem;
  }
  span {
    font-size: 1.3rem;
  }
  span.larger {
    font-size: 1.4rem;
  }

  li {
    font-size: 1.5rem;
    font-weight: 500;
  }
  li.smaller {
    font-size: 1.3rem;
  }

  button {
    font-size: 1.6rem;
    font-weight: 500;
  }

  a:link,
  a:visited {
    font-size: 1.4rem;
    font-weight: 600;
  }
}

@media (max-width: 470px) {
  h1 {
    font-size: 5.1rem;
  }

  h2 {
    font-size: 3.2rem;
  }

  h3 {
    font-size: 1.6rem;
  }
  h3.for-h2 {
    margin-left: 1.5px;
  }
  h3::before {
    content: "";
    display: block;
    position: absolute;
    height: 3px;
    background-color: var(--dark-orange);
    width: 140%;
    border-radius: 10px;
    top: 1.4px;
  }

  h4 {
    font-size: 2.5rem;
    margin-left: -0.1rem;
  }

  h4.smaller {
    font-size: 2.3rem;
  }

  h5 {
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
    margin-left: -0.1rem;
  }
  h5.smaller {
    font-size: 1.9rem;
  }
  h6 {
    font-size: 1.7rem;
    margin: 0;
    padding: 0;
    margin-left: -0.1rem;
    font-weight: 600;
  }
  p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
  }
  .smaller {
    font-size: 1.4rem;
  }
  .larger {
    font-size: 1.8rem;
  }
  span {
    font-size: 1.2rem;
  }
  span.larger {
    font-size: 1.3rem;
  }

  li {
    font-size: 1.5rem;
    font-weight: 500;
  }
  li.smaller {
    font-size: 1.3rem;
  }

  button {
    font-size: 1.6rem;
    font-weight: 500;
  }

  a:link,
  a:visited {
    font-size: 1.4rem;
    font-weight: 600;
  }
}
