/* GENERAL */
section.hero h3,
section.skills h3,
section.portfolio h3 {
  font-size: 2rem;
  display: inline-block;
  color: var(--dark-orange);
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: -1px;
  position: relative;
}
section.hero h3::before,
section.skills h3::before,
section.portfolio h3::before {
  content: "";
  display: block;
  position: absolute;
  margin: 0;
  padding: 0;
  height: 3px;
  background-color: var(--dark-orange);
  top: -0.15rem;
  width: 140%;
  border-radius: 10px;
}

/* HERO SECTION */
section.hero {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
}
section.hero > div {
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

section.hero h1 {
  font-size: 6.4rem;
  margin: 0;
  padding: 0;
  margin-left: -0.1rem;
  margin-bottom: -0.9rem;
}

section.hero p {
  font-size: 1.6rem;
  line-height: 1.5;
  margin-top: 2.5rem;
}
