/* GENERAL */

section.skills {
  background-color: hsla(231, 85%, 73%, 0.545);
  padding-bottom: 1.5rem;
}
section.skills > div {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: auto 1fr;
}

section.skills div.content {
  display: grid;
  column-gap: 2rem;
  row-gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

section.skills div.content div.header svg {
  height: 5rem;
  width: 5rem;
  padding: 0.8rem;
  fill: var(--extra-light-blue);
  background-color: var(--medium-blue);
  border-radius: 100px;
}

section.skills div.content div.header {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 1rem;
}
section.skills div.content ul {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 0.8rem;
}

@media (max-width: 830px) {
  section.skills div.content {
    margin-top: 2rem;
    display: grid;
    column-gap: 2rem;
    row-gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

@media (max-width: 550px) {
  section.skills div.content {
    margin-top: 2rem;
    display: grid;
    column-gap: 0;
    row-gap: 0.5rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
@media (max-width: 470px) {
  .skills h3 {
    padding-top: 3px;
  }
}
